.g-form {
  margin: 0 auto;
  position: relative;
}
.g-form h1 {
  padding-left: 4px;
  background-color: #E1E3E5;
}
.g-form .row {
  width: 100%;
  display: block;
  padding: 10px 0 10px 0;
}
.g-form .row label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  float: left;
  width: 15%;
  text-align: right;
  padding: 5px 20px 0 0;
}
.g-form .errorMessage {
  color: #F00;
  margin-left: 18%;
  margin-top: 5px;
}
.g-form .errorMessage:before {
  content: " ";
  background-image: url("http://icons.iconarchive.com/icons/kyo-tux/phuzion/16/Sign-Error-icon.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  display: block;
  float: left;
}
.g-form input[type=text] {
  padding: 5px 5px;
  width: 250px;
  font-size: 0.9em;
  border: 1px solid #ccc;
}
.g-form textarea {
  padding: 7px 7px;
  width: 350px;
  overflow: hidden;
  height: 150px;
  border: 1px solid #ccc;
}
