#breadCrumb ul,
#breadCrumb li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#breadCrumb {
  border-bottom: 1px solid #dedede;
  height: 2.3em;
}
#breadCrumb li {
  float: left;
  line-height: 2.3em;
  padding-left: .75em;
  color: #777;
}
#breadCrumb li a {
  display: block;
  padding: 0 15px 0 0;
  background: url('/images/icons/crumbs.gif') no-repeat right center;
}
.layout-content > #breadCrumb {
  margin: 0;
}
