html {
	background: url("/images/matrix.jpg") fixed;
}

.layout-head .layout-banner h1 {
	text-shadow: 0 0 5px white;
}

.layout-head .layout-banner .layout-headerBannerSubText {
	text-shadow: 0 0 5px white;
}