nbproject
assets/*
runtime
*.swp
upc/
.metadata/
.project
.buildpath
.DS_Store
.git
css/min.css
db/*.hash
vendor/

# Intellij project files
.idea/
*.iml

# Temporary files
*~
protected/config/main.php

# Sublime
*.sublime-project
*.sublime-workspace
