.g-adminSet {
	border-radius: 2px;
	border-color: #ccc;
}

.g-adminSet .g-button {
	display: block;
	margin: 10px auto;
}

.adminView th.admin-ingress {
    width: 50px;
}

.adminView .g-form .radio-item {
    margin-left: 100px;
}