/* @override 
	http://dev.hybrida.no/style/destroy.css */

div, input, body, table, thead, tbody, tr, td {
	position: relative;
	padding: 0px;
	margin: 0px;
}

div#wrapper { /*Dev-test only*/
	width: 100%;
	height: 100%;
	background: url(stripe_2.png) repeat;
}

div.frame input.exit_button {
	float: right;
	width: 16px;
	height: 16px;
	top: -4px;
	right: -4px;
}

button.select_album {
	margin: 0;
	position: absolute;
	top: 15px;
	left: 10px;
	height: 18px;
}

div.frame input.choose_file {
	position: absolute;
	top: 40px;
	left: 10px;
	width: 250px;
}

div.selected_album {
	position: absolute;
	top: 10px;
	left: 260px;
	border-width: 1px;
	height: 50px;
	width: 255px;
}

div.selected_album div.album_img {
	float: left;
	padding: 1px;
}

div.selected_album div.album_name {
	float: left;
	line-height: 50px;
}


div.frame {
	background: #dde8f3;
	border: 10px solid rgba(0,0,0,0.5);
	width: 525px;
	border-radius: 10px;
	position: relative;
	top: 50px;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

div.table {
	width: 97%;
	top: 65px;
	position: relative;
	border-style: solid;
	border-width: 1px;
	height: 276px;
	margin: auto;
}

div.table_head {
	width: 100%;
	height: 20px;
	color: #ffffff;
	background-color: #0062c4;
}

div.filename {
	float: left;
	padding-left: 5px;
	width: 290px;
	border-right: 1px solid #909090;
}

div.transfer {
	float: left;
	width: 137px;
	border-right: 1px solid #909090;
	text-align: center;

}

div.transfer div.transfer_progress {
	width: 60%;
	text-align: right;
	background-color: #00fb36;

	height: 100%;
}

div.status {
	float: left;
	width: 44px;
	text-align: center;
}
div.status img {
	padding: 2px;
	width: 29px;
	height: 29px;
}

div.table_data {
	overflow-y: auto;
	background-color: #ffffff;
	width: 100%;
	height: 256px;
}

div.table_data div.table_row {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #909090;
	clear: both;
}


div.table_row div.filename {
	overflow: hidden;
}