table.g-membertable {
    margin: 2em auto;
    border-collapse: collapse;
}

table.g-membertable *{
    border: none;
}

.g-membertable td {
    margin: 0;
}

.g-membertable th, .g-membertable td {
    padding: 2px 1.5em; 
}


.g-membertable tr:hover {
    background-color: #e1e3e5;
}

.g-membertable tr:first-child {
    background-color: transparent;
}

.g-button{
	color: white;
	text-decoration: none;
	font-weight: 550;
	padding: 5px 15px;
	border: 0;
	border-radius: 2px;
	margin-right: 5px;
	background: #185c9b;
	background: -moz-linear-gradient(top,  #185c9b 0%, #003b8e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#185c9b), color-stop(100%,#003b8e));
	background: -webkit-linear-gradient(top,  #185c9b 0%,#003b8e 100%);
	background: -o-linear-gradient(top,  #185c9b 0%,#003b8e 100%);
	background: -ms-linear-gradient(top,  #185c9b 0%,#003b8e 100%);
	background: linear-gradient(to bottom,  #185c9b 0%,#003b8e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#185c9b', endColorstr='#003b8e',GradientType=0 );
}

.g-button:hover {
	cursor: pointer;
	background: #154e87;
	background: -moz-linear-gradient(top,  #154e87 0%, #003a75 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154e87), color-stop(100%,#003a75));
	background: -webkit-linear-gradient(top,  #154e87 0%,#003a75 100%);
	background: -o-linear-gradient(top,  #154e87 0%,#003a75 100%);
	background: -ms-linear-gradient(top,  #154e87 0%,#003a75 100%);
	background: linear-gradient(to bottom,  #154e87 0%,#003a75 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#154e87', endColorstr='#003a75',GradientType=0 );
}

.g-button:active {
	background: #14427f;
	background: -moz-linear-gradient(top,  #14427f 0%, #004063 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#14427f), color-stop(100%,#004063));
	background: -webkit-linear-gradient(top,  #14427f 0%,#004063 100%);
	background: -o-linear-gradient(top,  #14427f 0%,#004063 100%);
	background: -ms-linear-gradient(top,  #14427f 0%,#004063 100%);
	background: linear-gradient(to bottom,  #14427f 0%,#004063 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14427f', endColorstr='#004063',GradientType=0 );
}

.g-buttonRightSide {
    float: right;
    margin-top: 5px;
    display: block;
    clear: both;
}

.g-deleteButton {
	border: 0;
	border-radius: 2px;
	display:inline-block;
	color: white;
	font-size:15px;
	font-weight:bold;
	padding:0.2em 0.6em;
	text-decoration:none;
}

.g-deleteButton {
	background: #e02323;
	background: -moz-linear-gradient(top,  #e02323 1%, #b22121 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e02323), color-stop(100%,#b22121));
	background: -webkit-linear-gradient(top,  #e02323 1%,#b22121 100%);
	background: -o-linear-gradient(top,  #e02323 1%,#b22121 100%);
	background: -ms-linear-gradient(top,  #e02323 1%,#b22121 100%);
	background: linear-gradient(to bottom,  #e02323 1%,#b22121 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02323', endColorstr='#b22121',GradientType=0 );
}

.g-deleteButton:hover {
	cursor: pointer;
	background: #bf1e1e;
	background: -moz-linear-gradient(top,  #bf1e1e 1%, #961e1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bf1e1e), color-stop(100%,#961e1e));
	background: -webkit-linear-gradient(top,  #bf1e1e 1%,#961e1e 100%);
	background: -o-linear-gradient(top,  #bf1e1e 1%,#961e1e 100%);
	background: -ms-linear-gradient(top,  #bf1e1e 1%,#961e1e 100%);
	background: linear-gradient(to bottom,  #bf1e1e 1%,#961e1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1e1e', endColorstr='#961e1e',GradientType=0 );
}

.g-deleteButton:active {
	background: #a31a1a;
	background: -moz-linear-gradient(top,  #a31a1a 1%, #7a1818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a31a1a), color-stop(100%,#7a1818));
	background: -webkit-linear-gradient(top,  #a31a1a 1%,#7a1818 100%);
	background: -o-linear-gradient(top,  #a31a1a 1%,#7a1818 100%);
	background: -ms-linear-gradient(top,  #a31a1a 1%,#7a1818 100%);
	background: linear-gradient(to bottom,  #a31a1a 1%,#7a1818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a31a1a', endColorstr='#7a1818',GradientType=0 );

}

#g-groupNavigation {
    font-size: 1em;
    clear: both;
    background-color: #0062c4;
    padding: 5px;
    text-align: center;
}

#g-groupNavigation > .g-groupNavigationItem {
    margin-left: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

#g-groupNavigation > .g-groupNavigationItem:hover{
    background-color: black;
}


.g-sidebarNav ul {
	padding-left: 1em;
}

.g-sidebarNav ul li {
	list-style: none;
}

.g-sidebarNav ul li a {
	padding: 0.2em 0.8em;
	display: block;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.g-sidebarNav ul li .current {
	padding: 0.2em 0.8em;
	display: block;
}

.g-sidebarNav ul li a:hover {
	background-color: #e5e5e5;
}

.collapsibleList li{
	list-style: none;
	cursor:auto;
}

li.collapsibleListOpen{
	list-style-image:url('http://coolalpha.com/images/structure/icons/plus_icon_trans.gif');
	cursor:pointer;
}

li.collapsibleListOpen .node {
	display:block;
}

li.collapsibleListClosed{
	list-style-image:url('http://coolalpha.com/images/structure/icons/plus_icon_trans.gif');
	cursor:pointer;
}

li.collapsibleListClosed .node {
	display:none;
}

.g-barTitle{
	color: #000000;
	border-bottom: 1px solid #ccc;
	margin: 2em 2em 0 1em;
	padding: 0 0 0 1em;
	height: 1.5em;
	font-weight: bold;
}

.g-barText{
	margin-bottom: 0;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 0.5em;
}

.clearfix:after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
	overflow:hidden;
}

/* Settes på container som inneholder flytende elementer:
<div id="container" class="clearfix">
  <div id="rail" style="float: left;"></div>
  <div id="content" style="float: left;"></div>
</div>
*/