.g-form {
	margin:0 auto;
	position:relative;
}

.g-form h1 {
	padding-left: 4px;
	background-color: #E1E3E5;
}


.g-form .row {
	width:100%;
	display: block;
	padding:10px 0 10px 0;
}

.g-form .row label {
	display: block;

	font-size:1em;
	font-weight: bold;
	float:left;
	width:15%;
	text-align:right;
	padding:5px 20px 0 0;
}

.g-form .errorMessage {
	color: #F00;
	margin-left: 18%;
	margin-top: 5px;
}

.g-form .errorMessage:before {
	content: " ";
	background-image: url("http://icons.iconarchive.com/icons/kyo-tux/phuzion/16/Sign-Error-icon.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	display:block;
	float:left;
}

.g-form input[type=text] {
	padding:5px 5px;
	width:250px;
	font-size: 0.9em;
}

.g-form textarea{
	padding:7px 7px;
	width:350px;
	overflow:hidden;
	height:150px;
}

table#membertable {
    margin: 2em auto;
    border-collapse: collapse;
}

table#membertable *{
    border: none;
}

#membertable td {
    margin: 0;
}

#membertable th, #membertable td {
    padding: 2px 1.5em; 
}


#membertable tr:hover {
    background-color: #e1e3e5;
}

#membertable tr:first-child {
    background-color: transparent;
}

.button {
    min-width: 80px;
    text-align: center;

    padding: 5px;
    /* background-color: rgb(0, 73, 147); mork blaa */
	background-color: rgb(0, 98, 196);
    color: white;

    /* Overriding for <input>-buttons */
    border: none;
}

.buttonRightSide {
    float: right;
    margin-top: 5px;
    display: block;
    clear: both;
}

.deleteButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}

.deleteButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

.deleteButton:active {
	position:relative;
	top:1px;
}

#groupNavigation {
    font-size: 1em;
    clear: both;
    background-color: #0062c4;
    padding: 5px;
    text-align: center;
}

#groupNavigation > .groupNavigationItem {
    margin-left: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

#groupNavigation > .groupNavigationItem:hover{
    background-color: black;
}

.collapsibleList li{
	list-style: none;
	cursor:auto;
}

li.collapsibleListOpen{
	list-style-image:url('http://coolalpha.com/images/structure/icons/plus_icon_trans.gif');
	cursor:pointer;
}

li.collapsibleListClosed{
	list-style-image:url('http://coolalpha.com/images/structure/icons/plus_icon_trans.gif');
	cursor:pointer;
}

.barTitle{
	color: #000000;
	width: 170px;
	border-bottom: 2px solid #0063c5;
	margin: 2em 1em 0 1em;
	padding-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	height: 1.5em;
}

.barText{
	margin-bottom: 0;
	margin-left: 2em;
	margin-right: 10px;
	margin-top: 0.5em;
}