table.g-membertable {
    margin: 2em auto;
    border-collapse: collapse;
}

table.g-membertable *{
    border: none;
}

.g-membertable td {
    margin: 0;
}

.g-membertable th, .g-membertable td {
    padding: 2px 1.5em; 
}


.g-membertable tr:hover {
    background-color: #e1e3e5;
}

.g-membertable tr:first-child {
    background-color: transparent;
}

.g-button{
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 15px;
	border: 0;
	border-radius: 2px;
	margin-right: 5px;
	background: #4096ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #4096ee 0%, #326cbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#326cbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4096ee 0%,#326cbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4096ee 0%,#326cbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4096ee 0%,#326cbc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4096ee 0%,#326cbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#326cbc',GradientType=0 ); /* IE6-9 */
}

.g-button:hover {
	cursor: pointer;
	background: #3b8add; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b8add 0%, #2f5eaf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b8add), color-stop(100%,#2f5eaf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b8add 0%,#2f5eaf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b8add 0%,#2f5eaf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b8add 0%,#2f5eaf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3b8add 0%,#2f5eaf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8add', endColorstr='#2f5eaf',GradientType=0 ); /* IE6-9 */
}

.g-button:active {
	background: #397ed3; /* Old browsers */
	background: -moz-linear-gradient(top,  #397ed3 0%, #2b4ea0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#397ed3), color-stop(100%,#2b4ea0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #397ed3 0%,#2b4ea0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #397ed3 0%,#2b4ea0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #397ed3 0%,#2b4ea0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #397ed3 0%,#2b4ea0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#397ed3', endColorstr='#2b4ea0',GradientType=0 ); /* IE6-9 */
}

.g-buttonRightSide {
    float: right;
    margin-top: 5px;
    display: block;
    clear: both;
}

.g-deleteButton {
	border-radius:2px;
	border: 0;
	display:inline-block;
	color: white;
	font-size:15px;
	font-weight:bold;
	padding:0.2em 0.6em;
	text-decoration:none;
}

.g-deleteButton {
	background: #e02323;
	background: -moz-linear-gradient(top,  #e02323 1%, #b22121 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e02323), color-stop(100%,#b22121));
	background: -webkit-linear-gradient(top,  #e02323 1%,#b22121 100%);
	background: -o-linear-gradient(top,  #e02323 1%,#b22121 100%);
	background: -ms-linear-gradient(top,  #e02323 1%,#b22121 100%);
	background: linear-gradient(to bottom,  #e02323 1%,#b22121 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02323', endColorstr='#b22121',GradientType=0 );
}

.g-deleteButton:hover {
	cursor: pointer;
	background: #bf1e1e;
	background: -moz-linear-gradient(top,  #bf1e1e 1%, #961e1e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bf1e1e), color-stop(100%,#961e1e));
	background: -webkit-linear-gradient(top,  #bf1e1e 1%,#961e1e 100%);
	background: -o-linear-gradient(top,  #bf1e1e 1%,#961e1e 100%);
	background: -ms-linear-gradient(top,  #bf1e1e 1%,#961e1e 100%);
	background: linear-gradient(to bottom,  #bf1e1e 1%,#961e1e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf1e1e', endColorstr='#961e1e',GradientType=0 );
}

.g-deleteButton:active {
	background: #a31a1a;
	background: -moz-linear-gradient(top,  #a31a1a 1%, #7a1818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a31a1a), color-stop(100%,#7a1818));
	background: -webkit-linear-gradient(top,  #a31a1a 1%,#7a1818 100%);
	background: -o-linear-gradient(top,  #a31a1a 1%,#7a1818 100%);
	background: -ms-linear-gradient(top,  #a31a1a 1%,#7a1818 100%);
	background: linear-gradient(to bottom,  #a31a1a 1%,#7a1818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a31a1a', endColorstr='#7a1818',GradientType=0 );

}

#g-groupNavigation {
    font-size: 1em;
    clear: both;
    background-color: #0062c4;
    padding: 5px;
    text-align: center;
}

#g-groupNavigation > .g-groupNavigationItem {
    margin-left: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

#g-groupNavigation > .g-groupNavigationItem:hover{
    background-color: black;
}

.collapsibleList li{
	list-style: none;
	cursor:auto;
}

li.collapsibleListOpen{
	list-style-image:url('http://coolalpha.com/images/structure/icons/plus_icon_trans.gif');
	cursor:pointer;
}

li.collapsibleListOpen .node {
	display:block;
}

li.collapsibleListClosed{
	list-style-image:url('http://coolalpha.com/images/structure/icons/plus_icon_trans.gif');
	cursor:pointer;
}

li.collapsibleListClosed .node {
	display:none;
}

.g-barTitle{
	color: #000000;
	width: 170px;
	border-bottom: 1px solid #ccc;
	margin: 2em 1em 0 1em;
	padding-bottom: 0;
	padding-left: 1em;
	padding-right: 1em;
	height: 1.5em;
	font-weight: bold;
}

.g-barText{
	margin-bottom: 0;
	margin-left: 2em;
	margin-right: 1em;
	margin-top: 0.5em;
}

.g-barText ul {
	padding: 0;
}

.g-barText ul li {
	list-style: none;
}

.g-barText a {
	margin-left: -0.5em;
	display: block;
	border-radius: 2px;
	padding: 0.2em 0.5em;
}

.g-barText a:hover {
	background-color: #e5e5e5;
}