html{
	
	background: url("/images/bg.jpg");
    /* Gill standard, ikke serif */
    font-family: "Gill";
    /*font-weight: lighter;*/
	height: 100%;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.layout-wrap {
	width: 1000px;
	margin: 50px auto;
	border-radius: 2px;
}

.layout-head .layout-banner {
	margin-bottom: -30px;
}

.layout-head .layout-banner h1 {
	display: inline;
	text-transform: uppercase;
	font-size: 70px;
	color: white;
	position: relative;
	top: -15px;
	font-weigth: bolder;
	text-shadow: 0 0 5px white;
}

.layout-head .layout-banner a {
	text-decoration: none;
}

.layout-head .layout-banner h1:visited {
	color: black;
}

.layout-mainWrap {
	box-shadow: 0 0 15px #888;
	overflow: auto;
	border-radius: 3px;
	background-color: white;
}

.layout-content {
	width: 750px;
	float:left;
	border-right: 1px solid #ddd;
}

.layout-rightBar  {
	width: 249px;
	border-left: 1px solid #ddd;
	float:left;
	margin-left: -1px;
}

.layout-menu {
}