html{
	
	background: url("/images/office.png") fixed;
    /* Gill standard, ikke serif */
    font-family: "Gill";
    /*font-weight: lighter;*/
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Din";
}

h1 a:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: #00509e;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #00509e;
}

.layout-wrap {
	width: 1000px;
	margin:0 auto;
}

.layout-head .layout-banner {
}

.layout-head img {
	float: left;
	border: 0;
}

.layout-banner {
	margin-bottom: 10px;
}

.layout-mainWrap {
	box-shadow: 0 0 7px black;
	overflow: auto;
	background-color: white;
	border-radius: 2px;
	padding-bottom: 20px;
}

.layout-marginMaker {
	margin-top: 20px;
}

.layout-content {
	width: 750px;
	float:left;
	border-right: 1px solid #ddd;
}

.layout-content > * {
	margin: 30px;
}

.layout-rightBar  {
	width: 249px;
	border-left: 1px solid #ddd;
	float:left;
	margin-left: -1px;
}

.layout-menu {
	margin-top: 10px;
}
