.newsView {
	margin: auto 1em;
}

.newsView .headerImage img {
	margin-left: 0em;
}

.newsView .author {
	padding: 0.3em;
	padding-left: 0;
	overflow: auto;
	width: 350px;
	margin-bottom: 1em;
}

.newsView .author img {
	float: left;
	display: block;
	padding-right: 1em;
}

.newsView article {
	text-align: justify;
}

.newsView article .ingress {
	font-weight: bold;
}

.g-form .radio-item {
    margin-left: 100px;
}
