/* @override
        http://dev.hybrida.no/style/pageContent.css */

html {
	    font-family: "Gill";
}

h1, h2, h3 {
	color: #DA5127;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 2.5em;
}

h2 {
	margin-top: 30px;
	font-size: 2em;
}

.content ul {
	list-style-image: url('http://industrialtradingcentre.com/images/bullet_list_icon.jpg');
}

#content div.formSection div.fieldInput a img {
    height: 30px;
    margin-top: -6px;
}

#groupNavigation {
    font-size: 1em;
	background-color: #0062c4;
	text-align: center;
	clear: both;
	height: 23px;
}

#groupNavigation > .groupNavigationItem {
    margin-left: 4px;
	color: white;
    text-decoration: none;
	height: 23px;
	padding: 3px 5px 1px;
}

#groupNavigation > .groupNavigationItem:hover{
    background-color: black;
}
/* Denne menyen ^^ */

.contentItem{
    width: 736px;
    margin-bottom: 40px;
    margin-top: 5px;
}

#article {
	background-color: #ffffff;
}

div.articleContent div.date {
    font-size: 0.79em;
    float: right;
    clear: right;
}

div.articleContent div.author {
    font-size: 0.79em;
    clear: left;
}

div.articleContent div.author a {
    color: #0062c4;
    text-decoration: none;
}

.articleContent img.smallImg {
    float: left;
    width: 150px;
    margin-top: 3px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.articleContent img.bigImg {
    margin-top: 3px;
    height: 150px;
    margin-bottom: 10px;
    width: 703px;
    margin-right: 0;
}

nav .navItems div {
    height: 25px;
    font: 20px 'Gill';
    font-weight: lighter;
    float: left;
    border-style: solid;
    border-color: #FFFFFF;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    padding: 0px 11px 0px 10px;
}

nav .navItems div.last {
    border-right-style: none;
}

.loggedIn{
    height: 25px;
    font: 20px 'Gill';
    font-weight: lighter;
    float: right;
    padding: 0px 2px 0px 0px;
}

.author {
	position: relative;
    padding-top: 15px;
	text-transform: uppercase;
	color: #AAA;
	border-top: 1px solid #DDD;
	margin-top: 12px;
	font-size: 0.6em;
}

.barTitle {
	font-size: 1.2em;
	color: #DA5127;
}

.formSection {
    clear: both;
    margin: 1.5em;
    border-radius: 2px;
    border: 1px dashed #0062C4;
    padding: 1.5em;
}

.formSection > * {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.formSection .fieldDefinition {
    width: 30%;
    float: left;
    clear: left;
    text-align: right;
}

.formSection .fieldInput {
    width: 68%;
    /*	For 2% opphold mellom definisjon og input.
            Om man skal bruke padding eller margin, m?? den ytre
            boksen ha fastsatt bredde, men den skalerer (derfor %) */

    float: right;
    clear: right;
    margin-bottom: 0.4em;
}

.formSection .inputGroup {
    float: none;
    clear: both;
}

.formSection .inputGroup :focus {
    box-shadow: 0 0 10px black;
}

.formSection .fieldExplanation {
    clear: both;
    float: none;
    font-size: 90%;
    font-style: italic;
    padding-top: .4em;
    padding-bottom: 1em;
}

.formSection textarea {
    resize: none;
}

.memberlists {
	width: 100%;
	background-color: #fff;
}

table#membertable {
    margin: 2em auto;
    border-collapse: collapse;
}

table#membertable *{
    border: none;
}

#membertable td {
    margin: none;
}

#membertable th, #membertable td {
    padding: 2px 1.5em; 
}

#membertable .nameCell a {
	font-size: 1em;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid rgba(9, 99, 195, 0.5);
}

.content table {
	margin: 5px 20px;
}

#membertable tr:hover {
    background-color: #e1e3e5;
}

#membertable tr:first-child {
    background-color: transparent;
}

#breadCrumb ul, #breadCrumb li {
	list-style-image: none;
    list-style-type:none;
    padding:0;
    margin:0;
}

#breadCrumb {
    border-bottom: 1px solid #dedede;
    height:2.3em;
}

#breadCrumb li {
    float:left;
    line-height:2.3em;
    padding-left:.75em;
    color:#777;
}

#breadCrumb li a {
    display:block;
    padding:0 15px 0 0;
    background:url('/images/icons/crumbs.gif') no-repeat right center;
	text-decoration: none;
	color: #000;
}

#breadCrumb li:hover {
	
}

#newsfeed .element {
	height: auto;
	width: auto;
	margin: 30px 40px;
	overflow-x: hidden;
}
#newsfeed .header-wrapper {
	width: 100%;
	height: 47px;
	margin-bottom: 29px;
}

#newsfeed a {
	text-decoration: none;
	color: #DA5127;
}

#newsfeed a:hover {
	border-bottom: 2px solid #DA5127;
}

#newsfeed .header-title h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#newsfeed .header-date {
	float:right;
	display: inline;
	margin-top: 20px;
	font-style: italic;
	margin-right: 3px;
}

#newsfeed .text-content {
	margin-top: 1em;
	font-size: 1.1em;
}

#newsfeed .author a {
	color: #AAA;
	border-bottom: 1px solid rgba(8, 98, 196, 0.5);
	font-size: 1em;
}

#newsfeed .text-content img {
	clear: both;
	margin: 10px auto;
	display: block;
}

.newsIndex {
	margin: auto 1em;
}

.newsIndex .headerImage img {
	margin-left: 1em;
}