#groupNavigation {
    font-size: 1em;
    clear: both;
    background-color: #004993;
    padding: 5px;
}

#groupNavigation > .groupNavigationItem {
    margin-left: 5px;
    padding: 5px;
    color: white;
}

#groupNavigation > .groupNavigationItem:hover{
    background-color: black;
}

.contentItem{
    width: 736px;
}

.articleContent {
    margin-top: 5px;
    margin-left: 33px;
}

.articleContent p {
    font-family: "Gill";
    font-weight: lighter;
    text-align: left;
    margin-top: 0;
}

.articleContent img.smallImg {
    float: left;
    width: 150px;
    margin-top: 3px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.articleContent img.bigImg {
    margin-top: 3px;
    height: 150px;
    margin-bottom: 10px;
    width: 703px;
    margin-right: 0;
}

.blueBox {
    width: 33px;
    float: left;
}

.blueBoxItem {
    background-color: #0062C4;
    width: 26px;
    height: 50px;
}


.topBar {
    background-color: #ffffff;
    height: 50px;
    margin-left: 33px;
}

.topBar h1 {
    color: #0062C4;
    text-transform: uppercase;
    font: 25px 'Din';
    margin-top: 5px;
}

.topBarItem {
    width: 100%;
    height: 20px;
    background: url(../images/stripe.png) repeat;
}

nav items div {
    height: 25px;
    font: 20px 'Gill';
    font-weight: lighter;
    float: left;
    border-style: solid;
    border-color: #FFFFFF;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    padding: 0px 11px 0px 10px;
}

nav items div.last {
    border-right-style: none;
}

.loggedIn{
    height: 25px;
    font: 20px 'Gill';
    font-weight: lighter;
    float: right;
    padding: 0px 2px 0px 0px;
}

.formSection {
    clear: both;
    margin-bottom: 1.5em;
}

.formSection > .fieldDefinition {
    width: 30%;
    float: left;
}

.formSection > .fieldInput {
    width: 70%;
    float: right;
}

.formSection > .fieldExplanation {
    clear: both;
    font-size: 90%;
    font-style: italic;
}