.formSection {
    clear: both;
    margin: 1.5em;
    border-radius: 2px;
    border: 1px dashed #0062C4;
    padding: 1.5em;
}

.formSection > * {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

.formSection .fieldDefinition {
    width: 30%;
    float: left;
    clear: left;
    text-align: right;
}

.formSection .fieldInput {
    width: 68%;
    /*	For 2% opphold mellom definisjon og input.
            Om man skal bruke padding eller margin, m?? den ytre
            boksen ha fastsatt bredde, men den skalerer (derfor %) */

    float: right;
    clear: right;
    margin-bottom: 0.4em;
}

.formSection .inputGroup {
    float: none;
    clear: both;
}

.formSection .inputGroup :focus {
    box-shadow: 0 0 10px black;
}

.formSection .fieldExplanation {
    clear: both;
    float: none;
    font-size: 90%;
    font-style: italic;
    padding-top: .4em;
    padding-bottom: 1em;
}

.formSection textarea {
    resize: none;
}

.formSection div.fieldInput a img {
    height: 30px;
    margin-top: -6px;
}