/* @override
	http://dev.hybrida.no/style/style.css */

.calendar table {
    text-align: center;
    margin: 0;
    padding: 0; 
}

.calendar a {
    display: block;
}

.calendar img {
    width: auto;
    height: auto;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.calendar table#days {
    margin-top: -2px;
}

.calendar #days td:hover {
    background-color: #F1F3F5;
}

.calendar #days a {
    color: #FFFFFF;
    background-color: #335FA5;
    border: none;
}

.calendar #days a:hover {
    color: #000000;
    background-color: #87ADEA;
    line-height: 21px;
    border: 2px solid #335FA5;
}

.calendar td {
    line-height: 25px;
    width: 33px;
    height: 25px;
    border: none;
	padding: 0;
    background-color: #E1E3E5;
	text-align: center;
}

.formHeader{
	padding-left: 4px;
}

.formElement{
	padding-left: 4px;
	padding-right: 4px;
}

.formLabel{
	width: 105px;
	float: left;
}

.formBox{
}

.formLabelRow{
	padding-bottom: 6px;
}

.formBoxRow{
	width: 500px;
	padding-bottom: 4px;
}

.rowCheck{
	clear: both;
	padding-top: 15px;	
}

.formSubmit{
	clear:both;
	padding-top: 20px;
}

/* Calendar Styles */
.big-calendar {width:98%; border-collapse:collapse;}
.big-calendar tr.navigation th {padding-bottom:20px;}
.big-calendar th.prev-month {text-align:left;}
.big-calendar th.current-month {text-align:center; font-size:1.5em;}
.big-calendar th.next-month {text-align:right;}
.big-calendar tr.weekdays th {text-align:left;}
.big-calendar td {width:14%; height:100px; vertical-align:top; border:1px solid #CCC;}
.big-calendar td.today {background:#FFD;}
.big-calendar td.prev-next {background:#EEE;}
.big-calendar td.prev-next span.date {color:#9C9C9C;}
.big-calendar td.holiday {background:#DDFFDE;}
.big-calendar span.date {display:block; padding:4px; line-height:12px; background:#EEE;}
.big-calendar div.day-content {}
.big-calendar ul.output {margin:0; padding:0 4px; list-style:none;}
.big-calendar ul.output li {margin:0; padding:5px 0; line-height:1em; border-bottom:1px solid #CCC;}
.big-calendar ul.output li:last-child {border:0;}

/* Fra sigurd:

Forslag til design av nyhetspublisering 
*/

.g-form {
	margin:0 auto;
	position:relative;
	background-color: #fff;
}


.g-form .row {
	width:100%;
	display: block;

	/*border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;*/
	padding:10px 0 10px 0;
}

.g-form .row label {
	display: block;

	font-size:1em;
	font-weight: bold;
	float:left;
	width:15%;
	text-align:right;
	padding:5px 20px 0 0;
}

.g-form .errorMessage {
	color: #F00;
	margin-left: 18%;
	margin-top: 5px;
}


.g-form .errorMessage:before {
	content: " ";
	background-image: url("../images/icons/Sign-Error-icon.png");
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	display:block;
	float:left;
}

.g-form .input_text {
	padding:5px 5px;
	width:250px;
	font-size: 0.9em;
}

.g-form .message{
	padding:7px 7px;
	width:350px;
	overflow:hidden;
	height:150px;
}

.g-form .row .rowField {
	width: 85%;
	float:left;
	display:block;
	position:relative;
}

/* Search and autocomplete */

.ui-autocomplete {
    
}

.ui-autocomplete .ui-menu-item {
    background-color: white;
    border-bottom: 1px solid #0963C4;
    list-style: none;
    width: 155px;
}

.ui-autocomplete .ui-menu-item:first-child {
    border-top: 1px solid #0963C4;
}

.ui-autocomplete, .ui-autocomplete ui-menu-item {
    margin-left: 0;
    padding-left: 0;
}