.calendar table {
    text-align: center;
    margin: 0;
    padding: 0; 
}

.calendar a {
    display: block;
}

.calendar img {
    width: auto;
    height: auto;
}

.calendar table#days {
    margin-top: -2px;
}

.calendar #days td:hover {
    background-color: #F1F3F5;
}

.calendar #days a {
    color: #FFFFFF;
    background-color: #335FA5;
    border: none;
}

.calendar #days a:hover {
    color: #000000;
    background-color: #87ADEA;
    line-height: 21px;
    border: 2px solid #335FA5;
}

.calendar td {
    line-height: 25px;
    width: 33px;
    height: 25px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #E1E3E5;
}

.form{
	height: 750px;
}

.formHeader{
	padding-left: 4px;
	background-color: #E1E3E5;
}

.formElement{
	padding-left: 4px;
	padding-right: 4px;
}

.formLabel{
	width: 105px;
	float: left;
}

.formBox{
}

.formLabelRow{
	padding-bottom: 6px;
}

.formBoxRow{
	width: 500px;
	padding-bottom: 4px;
}

.rowCheck{
	clear: both;
	padding-top: 15px;	
}

.formSubmit{
	clear:both;
	padding-top: 20px;
}
