.widget-activitiesFeed ul {
	padding-left: 2em;
}

.widget-activitiesFeed ul li {
	list-style: none;
}

.widget-activitiesFeed a {
	margin-left: -0.5em;
	display: block;
	border-radius: 2px;
	padding: 0.2em 0.5em;
}

.widget-activitiesFeed a:hover {
	background-color: #e5e5e5;
}