.widget-followButton .widget-followButton-button {
	padding: 0.15em 0.7em;
	border-radius: 2px;
}

.widget-followButton  img {
	width: 16px;
	position: relative;
	top: 2px;
}

.widget-followButton {
	text-align: right;
}