.accessField {
	font-weight: lighter;
	width: 602px;
	margin: 0;
	padding: 1px;
}

.accessField .accessSub {
    
}

.accessField h1, .accessField h2, .accessField h3 {
	font-variant: small-caps;
}

.accessField h1 {
	font-size: 25px;
	padding: 0;
	margin-bottom: 2px;
}

.accessField h2 {
	font-size: 17px;
	margin: 0;
}

.accessField h3 {
	font-size: 15px;
	font-variant: normal;
	color: #7a7a7a;
	font-weight: lighter;
	margin: 0 0 15px;
}

.accessField form {
	font-size: 2px;
	margin: 0;
}

.accessField div.accessGroup {
	float: left;
	border-right: 1px solid #8e8e8e;
	margin: 0 0 0 -1px;
	padding: 0 5px;
	border-left: 1px solid #8e8e8e;
	font-size: 1em;
}

.accessField div.accessItem {
	display: block;
	clear: both;
}

.accessField div.accessName {
	float: left;
	margin-left: 5px;
}

.accessField input.accessInput {
	float:left;
}

.accessField div#Grupper div.accessName {
	width: 4em;
}

.accessField div#Spesialisering div.accessName {
	width: 10em;
}

.accessField div#Utgangsår div.accessName {
	width: 3em;
}
