/* Forcing comment to contain its children despite the floats inside
http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best */
.widget-comment .c-comment
, .widget-comment .c-header
 {
    overflow: hidden;
    display: inline-block;
    display: block;
}

.widget-comment .c-comment {
    padding-left: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.widget-comment .c-comment:nth-child(even) {
    background-color: #eee;
}

.widget-comment .c-comment .c-profile-image {
    width: 55px;
    height: 55px;
    margin-top: 0;
    clear: both;
}

.widget-comment .c-date {
    color: #333;
    float: right;
}

.widget-comment .c-date-without-delete {
    margin-right: 34px;
}

.widget-comment .c-author {
    float: left;
}

.widget-comment .c-header {
    margin-bottom: 0em;
}

.widget-comment .c-profileImage {
    width: 50px;
    float: left;
}

.widget-comment .c-right {
    float: left;
    width: 560px;
    padding-left: 20px;
    margin-left: 10px;
}

.widget-comment .c-right , .widget-comment .c-profileImage {
    margin-bottom: 10px;
    margin-top:10px;
}

.widget-comment .c-header .c-deleteButton {
    float: right;
}

.widget-comment .c-deleteButton {
    border-radius: 2px;
    border: 0;
    font-weight: bold;
    padding: 0.07em 0.38em 0.2em 0.4em;
    background-color: inherit;
    color: #666;
    margin-left: 1em;
    position: relative;
    top: -3px;
}

.widget-comment .c-deleteButton:hover {
    cursor: pointer;
    color: black;
}

.widget-comment .c-comment textarea {
    border: 1px solid #888;
}

.widget-comment .c-content {
    margin-right: 34px;
}