.layout-menu nav {

}

.layout-menu nav .navItems a{
	display: inline;
}

.layout-menu nav .navItems a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 2px;
	margin-right: 5px;
 }
 
 .layout-menu nav .navItems div.userOptions {
	 display: inline;
	 float: right;
 }

.layout-menu nav .navItems a {
	background: #4096ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #4096ee 0%, #326cbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#326cbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4096ee 0%,#326cbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4096ee 0%,#326cbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4096ee 0%,#326cbc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4096ee 0%,#326cbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#326cbc',GradientType=0 ); /* IE6-9 */
}

.layout-menu nav .navItems a:hover {
	background: #3b8add; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b8add 0%, #2f5eaf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b8add), color-stop(100%,#2f5eaf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b8add 0%,#2f5eaf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b8add 0%,#2f5eaf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b8add 0%,#2f5eaf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3b8add 0%,#2f5eaf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b8add', endColorstr='#2f5eaf',GradientType=0 ); /* IE6-9 */
}

.layout-menu nav .navItems a:active {
	background: #397ed3; /* Old browsers */
	background: -moz-linear-gradient(top,  #397ed3 0%, #2b4ea0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#397ed3), color-stop(100%,#2b4ea0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #397ed3 0%,#2b4ea0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #397ed3 0%,#2b4ea0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #397ed3 0%,#2b4ea0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #397ed3 0%,#2b4ea0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#397ed3', endColorstr='#2b4ea0',GradientType=0 ); /* IE6-9 */
}