#BK-company-table{
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	width: 60%;
	}
	
#BK-company-table td{
	text-align: left;
	width: 50%;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	}
	
/* hovedtabellen som plasserer alle elementene*/
	
#BK-company-maintable{
        vertical-align: text-top;
	width: 100%;
	}
        
#BK-company-maintable td{
	border-width: 2px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	background-color: white;
	width: 50%;
	}
	
/* bredden p� kolonnene er spesifisert nedenfor*/
	
#BK-company-supporttable{
	text-align: left;
	width: 100%;
	}
	
#BK-company-leftcolumn{
	border-width: 2px;
	background-color: white;
	padding: 1px;
	border-style: outset;
	border-color: gray;
	vertical-align: text-top;
	width: 60%;
}

#BK-company-leftcolumn:hover textarea{
	height: 150px;
	width: 100%;
	max-width: 100%;
	}
	
#BK-company-leftcolumn input[type=submit] { 
	font-weight: bolder;
	}

#BK-company-centercolumn{
	width: 10%;
	background-color: #D8D8D8;
}

#BK-company-rightcolumn{
	border-width: 2px;
	padding: 1px;
	border-style: outset;
	border-color: gray;
	width: 30%;
	background-color: white;
	vertical-align: text-top;
}
	
/* tabellen som inneholder kommentarene*/

#BK-company-commenttable{
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
	width: 100%;
	}
	
#BK-company-commenttable td{
	text-align: left;
	border-width: 1px;
	border-bottom: 3px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	}

/* tabellen som inneholder alumnistudentene*/

#BK-company-alumnitable{
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	background-color: white;
	border-collapse: separate;
	width: 100%;
	}
	
#BK-company-alumnitable td{
	text-align: left;
	border-width: 1px;
	border-bottom: 3px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	}