@hybrida-blue-main: #00509E;
@hybrida-blue-light: #185c9b;

.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
	background-color: @start;
	background-image: -webkit-linear-gradient(@origin, @start, @stop);
	background-image: -moz-linear-gradient(@origin, @start, @stop);
	background-image: -o-linear-gradient(@origin, @start, @stop);
	background-image: -ms-linear-gradient(@origin, @start, @stop);
	background-image: linear-gradient(@origin, @start, @stop);
}

.g-button-gradient() {
	.gradient(top; @hybrida-blue-light; #003b8e);

	&:hover {
		.gradient(top; #154e87; #003a75);
		cursor: pointer;
	}

	&:active {
		.gradient(top; #14427f; #004063);
	}
}