@import "mixins.less";

#widget-knightPresentation {

	.knight {

		.name {
                        display: inline;
			cursor: pointer;
			font-size: 1.1em;
                        font-weight: bold;
                        color: @hybrida-blue-main;
		}

		.grantYear {
                    display: inline;
                    padding-right: 20px;

		}

		.reason {
			display: none;
                        margin: 10px;
		}

                .nameHeader {
                    display: inline;
                    font-weight: bold;
                    font-size: 1.1em;
                }

                .grantYearHeader {
                    display: inline;
                    font-weight: bold;
                    font-size: 1.1em;
                }

	}

}