@import url('mixins.less');

.widget-comment {

	.c-comment, .c-header {
		/* Forcing comment to contain its children despite the floats inside
		http://stackoverflow.com/questions/211383/which-method-of-clearfix-is-best */
		overflow: hidden;
		display: inline-block;
		display: block;
	}

	.c-comment {
		padding-left: 10px;
		margin-left: 20px;
		margin-right: 20px;
		width: 650px;
	}

	.c-comment:nth-child(even) {
		background-color: #eee;
	}

	.c-comment .c-profile-image {
		width: 55px;
		height: 55px;
		margin-top: 0;
		clear: both;
	}

	.c-date {
		color: #666;
		float: right;
	}

	.c-date-without-delete {
		margin-right: 34px;
	}

	.c-author {
		float: left;
	}

	.c-header {
		margin-bottom: 0em;
	}

	.c-profileImage {
		width: 50px;
		float: left;
	}

	.c-right {
		float: left;
		width: 560px;
		padding-left: 20px;
		margin-left: 10px;
	}

	.c-right , .c-profileImage {
		margin-bottom: 10px;
		margin-top:10px;
	}

	.c-header .g-deleteButton {
		float: right;
	}

	.c-comment textarea {
		border: 1px solid @borderColorGray;
	}

	.c-content {
		margin-right: 34px;
	}

	.c-flashed  {
		border-left: 3px @hybrida-blue-light solid;
	}

	.c-additions {

		.c-additions-mixin();

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: right;
		}

		li {
			display: inline;
		}


	}
}


.widget-followButton {

	text-align: right;
	.c-additions-mixin();
}

.c-additions-mixin() {

	a {
		padding: 0.3em;
		border-radius: 2px;

		&:hover {
			cursor: pointer;
		}

		span {
			color: black;
			font-weight: bold;
			border-radius: 2px;
		}
	}

	img {
		width: 24px;
		position: relative;
		top: 6px;
	}

	.c-toggled {
		background-color: @hybrida-blue-main;

		span {
			color: white;

		}
	}
}
