.albumIndex h2 {
	text-align: center;
}

.albumIndex div {
	text-align: center;
	margin-bottom: 30px;
}

.albumView table{
	width: 100%;
}

.albumPicview img {
	border: 1px solid black;
}

.createAlbum .errorText  {
	color: red;
}
