.albumIndex h2 {
	text-align: center;
}

.albumIndex div {
	text-align: center;
	margin-bottom: 30px;
}

.albumView table{
	width: 100%;
}


.createAlbum .errorText  {
	color: red;
}

.albumPicview img {
	border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
