/*stil for siden med alumnilisten*/

/*stil for hovedtabellen*/

#BK-alumnilist-maintable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#BK-alumnilist-maintable *{
    border: none;
}

#BK-alumnilist-maintable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-alumnilist-maintable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-alumnilist-maintable tr:hover{
	background-color: #e1e3e5;
}

#BK-alumnilist-maintable tr:first-child {
    background-color: transparent;
}
	
/*stil for st�ttetabellen og kolonnene som holder statistikken p� plass*/

#BK-alumnilist-supporttable{
	width: 100%;
	}
	
#BK-alumnilist-cumulationrow{
	border-width: 2px;
	background-color: white;
	padding: 1px;
	border-style: outset;
	border-color: gray;
	vertical-align: top;
	text-align: left;
	width: 50%;
}

#BK-alumnilist-rightcolumn{
	border-width: 2px;
	padding: 1px;
	border-style: outset;
	border-color: gray;
	width: 50%;
	background-color: white;
	vertical-align: top;
	text-align: left;
}

/*stil for boksen som inneholder statistikk for �rskullene*/

#BK-alumnilist-yearbox{
	height: 150px;
	overflow-y: scroll;
	}
	
#BK-alumnilist-yeartable{
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	width: 100%;
	}
	
#BK-alumnilist-yeartable td{
	text-align: center;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	}
	
#BK-alumnilist-yeartable th{
	text-align: center;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	}

/*stil for boksen som inneholder statistikk for bedriftene*/

#BK-alumnilist-companybox{
	height: 150px;
	overflow-y: scroll;
	}
	
#BK-alumnilist-companytable{
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	width: 100%;
	}
	
#BK-alumnilist-companytable td{
	text-align: center;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	}
	
#BK-alumnilist-companytable th{
	text-align: center;
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	}