/*stil for siden med alumnilisten*/

ul{
    list-style-type: none;
    padding: 10px, 8px;
}
ul li ul li{
    list-style-type: none;
    padding: 10px, 8px;
}

/*stil for hovedtabellen*/

#BK-alumnilist-maintable {
    border-collapse: collapse;
    width: 99%;
    text-align: left;
}

#BK-alumnilist-maintable *{
    border: none;
}

#BK-alumnilist-maintable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-alumnilist-maintable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-alumnilist-maintable tr:hover{
	background-color: #e1e3e5;
}

#BK-alumnilist-maintable tr:first-child {
    background-color: transparent;
}
	
/*stil for st�ttetabellen og kolonnene som holder statistikken p� plass*/

#BK-alumnilist-supporttable{
        border-style: outset;
        border-color: #6678b1;
	width: 99%;
	}
	
#BK-alumnilist-cumulationrow{
	border-width: 2px;
	background-color: white;
	padding: 6px 8px;
	border-style: outset;
	border-color: gray;
	vertical-align: top;
	text-align: left;
	width: 50%;
}

/*stil for boksen som inneholder statistikk for �rskullene*/

#BK-alumnilist-yearbox{
	height: 200px;
	overflow-y: scroll;
	}
        
#BK-alumnilist-yeartable {
    border-collapse: collapse;
    width: 99%;
}

#BK-alumnilist-yeartable *{
    border: none;
}

#BK-alumnilist-yeartable td {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-alumnilist-yeartable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-alumnilist-yeartable tr:hover{
    background-color: #e1e3e5;
}

#BK-alumnilist-yeartable tr:first-child {
    background-color: transparent;
}

/*stil for boksen som inneholder statistikk for bedriftene*/

#BK-alumnilist-companybox{
	height: 200px;
	overflow-y: scroll;
	}
        
#BK-alumnilist-companytable {
    border-collapse: collapse;
    width: 99%;
}

#BK-alumnilist-companytable *{
    border: none;
}

#BK-alumnilist-companytable td {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-alumnilist-companytable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-alumnilist-companytable tr:hover{
    background-color: #e1e3e5;
}

#BK-alumnilist-companytable tr:first-child {
    background-color: transparent;
}