
	
/*F�lgende gjelder kun for hovedtabellen*/
	
#BK-companyoverview-maintable{
    border-collapse: collapse;
    text-align: left;
}

#BK-companyoverview-maintable *{
    border: none;
}

#BK-companyoverview-maintable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-companyoverview-maintable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-companyoverview-maintable th a:link{ 
    text-decoration: none 
}

#BK-companyoverview-maintable th a:visited{ 
    color: #009;
}

#BK-companyoverview-maintable tr:hover{
	background-color: #e1e3e5;
}

#BK-companyoverview-maintable tr:first-child {
    background-color: transparent;
}
        
#BK-companyoverview-aktuell-senere{
    color: #FF9900;
    font-weight: bold;
    text-align: left;
}
        
#BK-companyoverview-blir-kontaktet{
    color: #009900;
    font-weight: bold;
    text-align: left;
}

#BK-companyoverview-ikke-kontaktet{
    font-weight: bold;
    text-align: left;
}
        
#BK-companyoverview-uaktuell{
    color: #CC0000;
    font-weight: bold;
    text-align: left;
}

/*F�lgende gjelder kun for støttetabellen*/
	
#BK-companyoverview-supporttable{
        vertical-align: top;
	width: 100%;
}

#BK-companyoverview-supporttable-header{
        text-align: left;
        padding: 0% 10%;
}
        
#BK-companyoverview-supporttable-element{
        vertical-align: top;
        padding: 0% 10%;
}

/*F�lgende gjelder kun for statistikktabellen*/
	
#BK-companyoverview-statisticstable{
        border: none;
        border-collapse: collapse;
}

#BK-companyoverview-statisticstable td {
    border-bottom: 1px solid #ccc;
    padding: 3px 6px;
}

#BK-companyoverview-statisticstable th {
    border-top: 2px solid #6678b1;
    border-bottom: 2px solid #6678b1;
    padding: 3px 6px;
}

#BK-companyoverview-totaltext{
	text-align: left;
}

#BK-companyoverview-numbercolumn{
	text-align: right;
}

/*F�lgende gjelder kun for valgtabellen*/

#BK-companyoverview-selectiontable{
        vertical-align: top;
        text-align: left;
}
