
	
/*F�lgende gjelder kun for hovedtabellen*/
	
#BK-companyoverview-maintable{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#BK-companyoverview-maintable *{
    border: none;
}

#BK-companyoverview-maintable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-companyoverview-maintable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}
        
#BK-companyoverview-aktuell-senere{
    color: #FF9900;
}
        
#BK-companyoverview-blir-kontaktet{
    color: #009900;
}
        
#BK-companyoverview-uaktuell{
    color: #CC0000;
}

/*F�lgende gjelder kun for støttetabellen*/
	
#BK-companyoverview-supporttable{
        text-align: left;
	width: 100%;
}

#BK-companyoverview-supporttable th{
        
        vertical-align: top;
        padding: 0% 10%;
}

#BK-companyoverview-supporttable td{
        vertical-align: top;
        text-align: left;
        padding: 0% 10%;
}

/*F�lgende gjelder kun for statistikktabellen*/
	
#BK-companyoverview-statisticstable{
	width: 100%;
}

/*F�lgende gjelder kun for valgtabellen*/

#BK-companyoverview-selectiontable{
        vertical-align: top;
        text-align: left;
	width: 100%;
}
	
#BK-companyoverview-selectiontable td{
        vertical-align: top;
        text-align: left;
	width: 100%;
}
