/* stil for overskriftene til tabeller */

#BK-index-header-table{
    width: 99%;
}

#BK-index-header-left{
    text-align: left;
}

#BK-index-header-right{
    text-align:right;
}

/* stil for tabellene med medlemmer */

#BK-index-member-table {
    border-collapse: collapse;
    width: 99%;
    text-align: left;
}

#BK-index-member-table *{
    border: none;
}

#BK-index-member-table td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-index-member-table th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-index-member-table tr:hover{
	background-color: #e1e3e5;
}

#BK-index-member-table tr:first-child {
    background-color: transparent;
}