/*stil for siden med oppdaterte elementer*/

/*stil for hovedtabellen*/

#BK-updatedelements-maintable {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#BK-updatedelements-maintable *{
    border: none;
}

#BK-updatedelements-maintable td {
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
}

#BK-updatedelements-maintable th {
    color: #009;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#BK-updatedelements-maintable th a:link{ 
    text-decoration: none 
}

#BK-updatedelements-maintable th a:visited{ 
    color: #009;
}

#BK-updatedelements-maintable tr:hover{
	background-color: #e1e3e5;
}

#BK-updatedelements-maintable tr:first-child {
    background-color: transparent;
}

#BK-updatedelements-maintable td input[type=checkbox] { 
	display: block;
	position: center; 
	margin-left:auto; 
	margin-right:auto;
}

/*stil for tabellen med valgmuligheter*/

#BK-updatedelements-selectiontable{
	text-align: left;
	width: 50%;
}

#BK-updatedelements-selectiontable td{
	vertical-align: text-top;
}

#BK-updatedelements-selectiontable input[type=submit] { 
	font-weight: bolder;
	width: 200px;
	height: 40px;
}

/* stil for tabellen med tidspunkter */

#BK-updatedelements-timetable{
	width: 50%;
	padding: 10px;
}