.formSection {
  clear: both;
  margin: 1.5em;
  border: 1px dashed #0062C4;
  padding: 1.5em;
}
.formSection > * {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}
.formSection .fieldDefinition {
  width: 30%;
  float: left;
  clear: left;
  text-align: right;
}
.formSection .fieldInput {
  width: 68%;
  float: right;
  clear: right;
  margin-bottom: 0.4em;
}
.formSection .inputGroup {
  float: none;
  clear: both;
}
.formSection .inputGroup :focus {
  box-shadow: 0 0 10px black;
}
.formSection .fieldExplanation {
  clear: both;
  float: none;
  font-size: 90%;
  font-style: italic;
  padding-top: .4em;
  padding-bottom: 1em;
}
.formSection textarea {
  resize: none;
}
.formSection div.fieldInput a img {
  height: 30px;
  margin-top: -6px;
}
.profileInfo .infoTable th {
  text-align: right;
  width: 150px;
  padding-right: 0.5em;
}
.profileInfo .userDescription {
  text-align: justify;
}
